.amplitude-cover {
  width: inherit;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);

  border-radius: 4px;
}

.amplitude-play-pause {
  height: 50px;
  width: 50px;

  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);

  opacity: 0.5;
}

.amplitude-play-pause:hover {
  opacity: 1;
}

.amplitude-play-pause > i {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  width: inherit;
  height: inherit;
}

.amplitude-play-pause.amplitude-paused > i::before {
  font-weight: 900;
  content: "\F144";

  font-size: 50px;
}

.amplitude-play-pause.amplitude-playing > i::before {
  font-weight: 900;
  content: "\F28B";

  font-size: 50px;
}

div.time-container {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  padding-left: 15px;
  padding-right: 15px;

  opacity: 0.9;
  font-weight: 100;
  font-size: 24px;
  color: white;
}

  div.time-container span.current-time {
    float: left;
    margin-left: 5px;
  }

  div.time-container span.duration {
    float: right;
    margin-right: 5px;
  }