.player-container {
  position: relative;
  display: flex;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
  max-height: 290px;
}

@media only screen and (max-width: 576px) {
  .player-cover {
    display: none;
  }
}

.player-cover {
  flex: 1 0 30%
}
  .player-cover > img {
    width: 100%;
    height: 100%;
  }

.player {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: white;
  padding: 1em;
  text-align: center;
  width: 500px;
  max-width: 500px;
}

  .player-title {
    margin: 0 0 0.1em 0;
  }
  
  .player-author {
    margin: 0 0 0.5em 0
  }
 
progress.player-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
}

  progress.player-progress:not([value]) {
    background-color: #efefef; }

  progress[value]::-webkit-progress-bar {
  background-color: #efefef; }

  progress[value]::-moz-progress-bar {
  background-color: #efefef; }

  progress[value]::-webkit-progress-value {
  background-color: #131e22; }

.player-time {
  display: flex;
  flex-flow: row wrap;
}

  .player-time p:nth-child(3) {
    margin-left: auto;
  }

  .player-time p {
    margin-bottom: 0px;
  }

.player-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.player-controls-play {
  width: 3em;
  height: 3em;
  margin: 0 1em;

  cursor: pointer;
}

  .player-controls-play > img {
    width: 100%;
  }

.player-controls-backward {
  width: 1.5em;
  height: 1.5em;

  cursor: pointer;
}

.player-controls-forward {
  width: 1.5em;
  height: 1.5em;

  cursor: pointer;
}

.amplitude-play-pause.amplitude-paused > img {
  content: url("../images/Play.svg");
}

.amplitude-play-pause.amplitude-playing > img {
  content: url("../images/Pause.svg");
}