body {
    font-family: 'Bangers';
}

/* Background */
@media only screen and (max-width: 575.98px) {
    .background {
        background-color: #121f22;
    }
}

@media only screen and (min-width: 576px) {
    .background {
        background-image: url("../images/Background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
}
/* /Background */

/* Scrollbar */
.hide-scrollbar {
    -ms-overflow-style: none;
}

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
/* /Scrollbar */

/* Height VH Utility */
.height-10-vh {
    height: 10vh;
}

.height-15-vh {
    height: 15vh;
}

@media only screen and (min-width: 576px) {
    .height-15-vh-sm {
        min-height: 15vh;
    }
}

.height-min-70-vh {
    min-height: 70vh;
}

@media only screen and (min-width: 576px) {
    .height-min-70-vh-sm {
        min-height: 70vh;
    }
}

.height-min-75-vh {
    min-height: 75vh;
}

.height-85-vh {
    height: 85vh;
}

.height-min-85-vh {
    min-height: 85vh;
}

@media only screen and (max-width: 575.98px) {
    .height-min-85-vh-xs {
        min-height: 85vh;
    }
}

.height-100-vh {
    height: 100vh;
}
/* /Height VH Utility */

/* Width Utility */
.width-full {
    width: 100%;
}
/* /Width Utility */

/* Height Utility */
.height-full {
    height: 100%;
}
/* /Height Utility */

/* Loading Hover */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;

    background-color: whitesmoke;
}
/* /Loading Hover */

/* Header */
.header a {
    color: white;
}
    .header a:hover {
        color: white;
    }
    .header a > label {
        cursor: pointer;
    }
        .header a > label:hover {
            text-decoration: underline;
        }
/* /Header */

/* Soundcloud Frame */
@media only screen and (max-width: 576px) {
    .soundcloud-frame-sm {
        height: 300px;
    }
}

@media only screen and (min-width: 576px) {
    .soundcloud-frame-md {
        height: 450px;
    }
}
/* /Soundcloud Frame */