body {
    font-family: 'Bangers';

    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

a {
    color: white;
}

a:hover {
    color: white;
}

a > label {
    cursor: pointer;
}

a > label:hover {
    text-decoration: underline;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

/* Height VH Utility */
.vh-10 {
    height: 10vh;
}

.vh-15 {
    height: 15vh;
}

.vh-85 {
    height: 85vh;
}

/* Width Utility */
.width-full {
    width: 100%;
}

/* Height Utility */
.height-full {
    height: 100%;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;

    background-color: whitesmoke;
}
  