body {
    font-family: 'Bangers';
}

/* Background */
@media only screen and (max-width: 576px) {
    .background {
        background-color: #121f22;
    }
}

@media only screen and (min-width: 576px) {
    .background {
        background-image: url("../images/Background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
}
/* /Background */

/* Header */
.header a {
    color: white;
}

    .header a:hover {
        color: white;
    }

.header a > label {
    cursor: pointer;
}

    .header a > label:hover {
        text-decoration: underline;
    }
/* /Header */

/* Scrollbar */
.hide-scrollbar {
    -ms-overflow-style: none;
}

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
/* /Scrollbar */

/* Height VH Utility */
.height-10-vh {
    height: 10vh;
}

.height-15-vh {
    height: 15vh;
}

.height-min-15-vh {
    min-height: 15vh;
}

.height-30-vh {
    height: 30vh;
}

.height-min-30-vh {
    min-height: 30vh;
}

.height-70-vh {
    height: 70vh;
}

.height-min-70-vh {
    min-height: 70vh;
}

.height-75-vh {
    height: 75vh;
}

.height-min-75-vh {
    min-height: 75vh;
}

.height-85-vh {
    height: 85vh;
}

@media only screen and (min-width: 576px) {
    .height-85-vh-sm {
        height: 85vh;
    }
}

.height-100-vh {
    height: 100vh;
}

@media only screen and (min-width: 576px) {
    .height-100-vh-sm {
        height: 100vh;
    }
}

/* Width Utility */
.width-full {
    width: 100%;
}

/* Height Utility */
.height-full {
    height: 100%;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;

    background-color: whitesmoke;
}

@media only screen and (max-width: 576px) {
    .soundcloud-frame-sm {
        height: 300px;
    }
}

@media only screen and (min-width: 576px) {
    .soundcloud-frame-md {
        height: 450px;
    }
}